<div class="container my-3">
  <div class="card rounded p-3 card-principal card-hover">
    <div class="d-flex">
      <div class="flex-fill pr-3">
        <div class="input-group mb-2">
          <input
            type="text"
            class="form-control p-2 rounded sombra-input"
            placeholder="Filtrar por usuário"
            [(ngModel)]="filtroLista"
          />
          <div class="input-group-prepend">
            <div
              class="input-group-text p-2 rounded sombra-input color-text cursor"
              (click)="resetFilters()"
            >
              Limpar Filtro
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="responsive-table my-1">
      <table class="table dark-table table-striped">
        <thead>
          <tr>
            <th class="text-center">#ID</th>
            <th class="text-center">Usuário</th>
            <th class="text-center">Data do Acesso</th>
            <th class="text-center">Id da Venda</th>
            <th class="text-center">Produto</th>
            <th class="text-center">Preço</th>
            <th class="text-center">Quantidade Vendido</th>
            <th class="text-center">Ação Efeituada</th>
          </tr>
        </thead>
        <tbody *ngIf="listLogs && listLogs.length > 0">
          <tr
            class="hover-table-row"
            *ngFor="let log of logsFiltrados | paginate : paginator"
          >
            <td class="text-center">{{ log.id }}</td>
            <td class="text-center">{{ log.userName }}</td>
            <td class="text-center">{{ log.dataAcesso }}</td>
            <td class="text-center">{{ log.vendaId }}</td>
            <td class="text-center">{{ log.nomeProduto }}</td>
            <td class="text-center">R$ {{ log.precoProduto.toFixed(2) }}</td>
            <td class="text-center">{{ log.quantidadeVendido }}</td>
            <td class="text-center">
              <span
                *ngIf="log.acao == 'Atualização de Venda'; else logTemplate"
              >
                {{ log.acao }} <br />(Dados da venda antiga)
              </span>
              <ng-template #logTemplate>
                <span>{{ log.acao }}</span>
              </ng-template>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="logsFiltrados.length === 0 && filtroLista">
          <tr>
            <td colspan="8" class="text-center tfoot-dark">
              <h4>Nenhuma acesso encontrado!</h4>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="pagination-center">
      <pagination-controls
        (pageChange)="pularPagina($event)"
      ></pagination-controls>
    </div>

    <div class="row" [formGroup]="form">
      <div class="col-2 col-md-4">
        <label class="label-input">Buscar Venda Por ID</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control input-buscar"
            [class.is-invalid]="
              vendaValidator.idLogVenda.errors &&
              vendaValidator.idLogVenda.touched
            "
            formControlName="idLogVenda"
            placeholder="0"
          />
          <button
            class="btn btn-primary"
            (click)="getById(form.get('idLogVenda')?.value)"
          >
            Buscar
          </button>
        </div>
      </div>
      <!--  <div class="col-12 col-md-6 text-md-right">
        <button class="btn btn-success btn-sm btn-block btn-block-md" (click)="abrirModalPermissao(modalPermission)">
          Dar Permissão ao Usuário
        </button>
      </div> -->
    </div>

    <div
      *ngIf="vendaValidator.idLogVenda.errors?.required"
      class="invalid-feedback d-block"
    >
      ID é obrigatório.
    </div>
    <div
      *ngIf="vendaValidator.idLogVenda.errors?.pattern"
      class="invalid-feedback d-block"
    >
      ID não é valido.
    </div>

    <div
      *ngIf="exibirTabela"
      class="responsive-table modal-table scrollbar scrollbar-primary my-3"
      @slideIn
    >
      <table class="table dark-table table-striped">
        <thead>
          <th class="text-center">#ID</th>
          <th class="text-center">Produto</th>
          <th class="text-center">Preço</th>
          <th class="text-center">Quantidade</th>
          <th class="text-center">Data da Venda</th>
          <th class="text-center">Total</th>
        </thead>
        <tbody *ngIf="venda; else noVenda">
          <tr class="hover-table-row">
            <td class="text-center">{{ venda.id }}</td>
            <td class="text-center teste">{{ venda.nome }}</td>
            <td class="text-center">R$ {{ venda.preco }}</td>
            <td class="text-center">{{ venda.quantidadeVendido }}</td>
            <td class="text-center">{{ venda.dataVenda }}</td>
            <td class="text-center">R$ {{ venda.totalDaVenda }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #modalPermission>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label"
                >Recipient:</label
              >
              <input type="text" class="form-control" id="recipient-name" />
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noVenda>
  <tfoot>
    <tr>
      <td colspan="8" class="text-center tfoot-dark">
        <h4>Nenhuma venda encontrada!</h4>
      </td>
    </tr>
  </tfoot>
</ng-template>
