body {
  &.dark {
    background-color: #222;
    color: #ddd;
    .card {
      background-color: #333;
      color: #f0f0f0;
    }
    .modal-body {
      background-color: #333;
      color: #f0f0f0;
    }
    p {
      color: #f0f0f0;
    }
    .nav-link {
      color: #f0f0f0;
    }
    label {
      color: #f0f0f0;
    }
    div {
      color: #f0f0f0;
    }
  }
}

:root {
  --denis: white;

  &[data-bs-theme="dark"] {
    --denis: black;
  }
}

.shadow-sm {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Define a sombra da borda mais escura para o modo escuro
}

body.dark i {
  color: #f0f0f0;
}

body.dark .dropdown-menu {
  background-color: #333;
}

body.dark .dropdown-item:hover {
  background-color: #222;
  color: #f0f0f0;
}

body.dark a {
  color: #f0f0f0;
}

body.light .white-icon {
  color: #000;
}

body.dark .white-icon {
  color: #fff;
}

body.dark .input-group-text {
  color: #000;
}

body.dark .color-text {
  color: #708090;
}

.btn-outline-light:hover i,
.btn-outline-light:focus i {
  color: #000;
}

.btn-outline-light:not(:hover):not(:focus) i {
  color: #fff;
}

.btn-outline-light:not(:hover):not(:focus) {
  color: #fff;
}

body.dark .list-group-item {
  background-color: #333;
}

body.dark .color-positivo {
  color: #0fe400;
}

body.dark .color-negativo {
  color: red;
}

/* table */
body.dark .dark-table {
  color: #eaeaea;
  background-color: #2e2e2e;
}

body.dark .dark-table thead {
  background-color: #2e2e2e;
}

body.dark .dark-table thead th {
  background-color: #2e2e2e;
  color: #e9ecef;
  border: none;
}

body.dark .dark-table tbody tr {
  border: none;
}

body.dark .dark-table tbody tr:nth-child(even) {
  background-color: #282828;
}

body.dark .dark-table tbody td {
  padding: 10px 15px;
  border: none;
  background-color: #2e2e2ee2;
  color: #e9ecef;
}

body.dark .dark-table tbody tr:hover {
  background-color: #302f2fc8;
}

body.dark .dark-table tbody tr:last-child {
  border-bottom: none;
}

body.dark .tfoot-dark {
  background-color: #333333;
}

/* end table */

/* calendario */
body.dark .bs-datepicker-body {
  background-color: rgba(29, 29, 29, 0.409);
  border: none;
}

body.dark .bs-datepicker-container {
  background-color: rgb(22 22 22 / 79%);
}

/* end calendario */

/* pagination */
body.dark .ngx-pagination a,
.ngx-pagination button {
  color: #54708b;
  background-color: #2e2e2e;
  border-radius: 5px;
}

body.dark .ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #212121;
  color: #fefefe;
  cursor: default;
  border-radius: 5px;
}

body.dark .page-link {
  background: #2e2e2e;
  border: var(--bs-pagination-border-width) solid #54708b;
}

body.dark .navbar-toggler {
  background-color: #0e0e0e;
}
body.dark .selected {
  background-color: #007bff;
  color: white;
}

/* end pagination */
