.vh-100 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container{
  padding: 100px 50px 100px 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.text-color{
  color: #708090;
  font-weight: bold;
}

.fa-eye,
.fa-eye-slash {
  font-size: 24px;
}

.sombra {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.194);
  transition: box-shadow 0.3s ease;
  outline: none;
}

.sombra:focus {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.237);
  outline: none;
}

.sombra:hover{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.178);
  transform: translateY(-2px);
}
