.footer-customer {
  background-color: #ffffff;
  margin-top: 50px !important;
  margin-bottom: 0% !important;
  box-shadow: 0 -5px 5px -5px #888888;
}

.spinner-style {
  font-size: 20px;
  color: white;
}
