<div class="container my-3">
  <div class="full-box" id="chart1">
    <h1 class="title-grafico">Resumo das vendas de cada Produto</h1>
    <canvas baseChart [type]="'bar'" [datasets]="produtosResumoDatasets" [labels]="produtosResumoLabels"
      [options]="chartOptionsProdutosResumo">
    </canvas>
  </div>
  <div class="half-box">
    <h1 class="title-grafico">Quantidade de Vendas por Dia</h1>
    <div class="chart">
      <div class="grafico-container">
        <canvas baseChart [type]="'pie'" [datasets]="graficoVendasPorDiaDados" [labels]="graficoVendasPorDiaLabel"
          [options]="chartOptionsGraficoVendas">
        </canvas>
      </div>
    </div>
  </div>
  <div class="half-box summary">
    <h1 class="title-grafico">Resumo das Vendas</h1>

    <div class="summary-item">
      <label>Média de Vendas por Dia:</label>
      <span>{{ mediaDeVendaPorDia }}</span>
    </div>

    <div class="summary-item">
      <label>Produto Mais Vendido:</label>
      <span>{{ produtoMaisVendido }}</span>
    </div>

    <div class="summary-item">
      <label>Total do Produto Mais Vendido:</label>
      <span>R$ {{ totalDoMaisVendido.toFixed(2) }}</span>
    </div>

    <div class="summary-item">
      <label>Total de Todas as Vendas:</label>
      <span>R$ {{ totalDeTodasAsVendas.toFixed(2) }}</span>
    </div>
  </div>
</div>
