.container {
  display: flex;
  flex-wrap: wrap;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  background-color: #ffffff;
}

.grafico-container {
  width: 80%;
  max-width: 560px;
  margin: 0 auto;
}

.half-box {
  flex: 1 1 48%; /* Ocupa cerca de metade do espaço, considerando uma pequena margem */
  border: 1px solid #e0e0e0; /* Borda suave */
  padding: 10px;
  transition: border-color 0.3s; /* Transição suave para o hover */
  border-radius: 10px;
}
.half-box:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.178);
  transform: translateY(-5px);
}

.full-box {
  flex: 1 1 100%; /* Ocupa a largura total */
  border: 1px solid #e0e0e0;
  padding: 10px;
  transition: border-color 0.3s;
  border-radius: 10px;
}

.full-box:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.178);
  transform: translateY(-5px);
}

.summary {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.summary:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.178);
  transform: translateY(-5px);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  background-color: #606b6dcb;
  color: #e1e1e1 !important;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.summary label {
  float: left;
  font-weight: bold;
  font-size: 1.2em;
  color: #e1e1e1;
  width: 40%; /* Define uma largura para o label */
}

.summary span {
  float: right;
  font-size: 1.3em;
  color: #e1e1e1;
  font-weight: bold;
  width: 40%; /* Define uma largura para o span */
  text-align: right; /* Alinha o texto à direita */
}

.title-grafico {
  display: flex;
  color: #708090 !important;
  font-size: 1.5em !important;
  border-bottom: 2px solid #e0e0e0; /* Uma linha fina abaixo do título para separação */
  padding-bottom: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.label-media-vendas {
  float: right;
  text-align: right;
  color: #708090 !important;
  font-size: 1.1em;
  font-weight: bold;
}

.span-vendas {
  float: right;
  text-align: right;
  color: #0fe400 !important;
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 4px;
}
