<nav class="navbar navbar-expand-lg shadow-sm" *ngIf="ShowMenu()"> <!-- *ngIf="ShowMenu()" -->
  <div class="container">
    <a class="navbar-brand" routerLink="/venda/lista">
      <img src="https://i.pinimg.com/originals/f4/02/9e/f4029e0ea4d9e21e481b104543dd5e00.png" alt="logo" style=" width: 50px; height: 50px;">
    </a>

    <button class="navbar-toggler white-icon" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="/venda/lista">Vendas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/venda/grafico" >Resumo das Vendas</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown" dropdown>
          <div class="d-flex justify-content-between align-items-center">
            <a dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{localStorage.getItem('userEmail')}}
            </a>
          </div>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" (click)="logout()" Sair>
              Sair
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
