i {
  font-size: 30px;
  margin-top: 5px;
  ;
}
.navbar-color{
  background-color: #e6e6e6;
}

.responsive-nav {
  min-width: 1000px;
  white-space: nowrap;
}

.sombra {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.492);
  transition: box-shadow 0.3s ease;
}
.sombra:focus {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.488);
}

