<div class="d-flex justify-content-between my-3 bg-secondary rounded sombrear p-3">
  <button class="btn btn-success sombrear bottom-novo" (click)="abrirModal(modalForm)">
    Novo <i class="fa fa-plus-circle my-1"></i>
  </button>
  <div class="d-flex justify-content-end">
    <input class="input-date" placeholder="Pesquisar por data" [(ngModel)]="dateRange" bsDaterangepicker id="filtroData"
      (bsValueChange)="validateDateRange()">
    <button class="btn btn-success sombrear bottom-apply" (click)="getVendasPorPeriodo()">
      Aplicar
    </button>
  </div>
</div>

<div class="card rounded p-3 card-principal card-hover">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text  p-2 rounded sombra-input">Filtro:</div>
        </div>
        <input type="text" class="form-control p-2 rounded sombra-input" placeholder="Filtrar por Tema e Local"
          [(ngModel)]="filtroLista">
      </div>
    </div>
  </div>

  <div class="responsive-table my-1">
    <table class="table dark-table table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">#ID</th>
          <th class="text-center">Produto</th>
          <th class="text-center">Preço</th>
          <th class="text-center">Quantidade</th>
          <th class="text-center">Data da Venda</th>
          <th class="text-center">Total</th>
          <th class="text-center">Opções</th>
        </tr>
      </thead>
      <tbody *ngIf="listVendas && listVendas.length > 0">
        <tr class="hoverable-row" *ngFor="let venda of vendasFiltradas | paginate:
          { itemsPerPage: itemsPorPagina,
            currentPage: paginaAtual,
            totalItems: totalItens
          }">
          <td class="text-center">{{venda.id}}</td>
          <td class="text-center">{{venda.nome}}</td>
          <td class="text-center">R$ {{venda.preco.toFixed(2)}}</td>
          <td class="text-center">{{venda.quantidadeVendido}}</td>
          <td class="text-center">{{venda.dataVenda}}</td>
          <td class="text-center">R$ {{venda.totalDaVenda.toFixed(2)}}</td>
          <td class="text-center">
            <button type="button" class="btn btn-primary btn-lg space hover-botton" tooltip="Editar"
              (click)="abrirModal(modalForm, venda.id)">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger btn-lg hover-botton" tooltip="Deletar"
              (click)="abrirModal(modalConfirmDelete, venda.id)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="vendasFiltradas.length === 0 && filtroLista">
        <tr>
          <td colspan="8" class="text-center">
            <h4>Nenhuma venda encontrada!</h4>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="pagination-center">
    <pagination-controls (pageChange)="paginaAtual = $event; vendasFiltradas"></pagination-controls>
  </div>

  <div class="d-flex justify-content-end">
    <div class="fotter-summary col-md-auto footer-card-totais">
      <b>Total Itens: {{totalItens}}</b>
    </div>
    <div class="fotter-summary col-md-auto">
      <b>Subtotal da página:
        <b [ngStyle]="{'color': vendidoPorPagina < 25 ? 'red' : '#0fe400'}">
          R$ {{vendidoPorPagina.toFixed(2)}}
        </b>
      </b>
      <b *ngIf="vendidoPorPagina < 25">&nbsp;&nbsp;😔</b>
      <b *ngIf="vendidoPorPagina >= 25">&nbsp;&nbsp;🤑</b>
    </div>
  </div>
</div>

<ng-template #modalConfirmDelete>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este Evento?</p>
    <button type="button" class="btn btn-danger space" (click)="confirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="this.modal.hide()">Não</button>
  </div>
</ng-template>

<ng-template #modalForm>
  <div class="card rounded shadow-sm">
    <h2 class="title-cabecario">
      Preencha os Campos</h2>
    <div class="modal-body container" [formGroup]="form">
      <div class="form-row">
        <div class="form-group col-md-auto mr-2">

          <label class="label-input">Nome do Produto</label>
          <input type="text" class="form-control input-form"
            [ngClass]="{'is-invalid': vendaValidator.nome.errors && vendaValidator.nome.touched}" formControlName="nome"
            placeholder="Nome do produto">

          <div *ngIf=" vendaValidator.nome.errors?.required" class="invalid-feedback">
            Nome do Produto é obrigatório.
          </div>
          <div *ngIf=" vendaValidator.nome.errors?.minlength" class="invalid-feedback">
            Produto deve ter no mínimo 4 caracteres
          </div>
          <div *ngIf=" vendaValidator.nome.errors?.maxlength" class="invalid-feedback">
            Produto deve ter no maxímo 15 caracteres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-auto">

          <label class="label-input space-form">Preço</label>
          <input type="text" class="form-control input-form"
            [ngClass]="{'is-invalid': vendaValidator.preco.errors && vendaValidator.preco.touched}"
            formControlName="preco" placeholder="0.1">

          <div *ngIf=" vendaValidator.preco.errors?.required" class="invalid-feedback">
            Preço é obrigatório.
          </div>
          <div *ngIf=" vendaValidator.preco.errors?.pattern" class="invalid-feedback">
            Preço não é valido, use '.' para separar.
          </div>
          <div *ngIf=" vendaValidator.preco.errors?.min" class="invalid-feedback">
            Preço não pode ser menor que 0.1.
          </div>
          <div *ngIf=" vendaValidator.preco.errors?.max" class="invalid-feedback">
            Preço não pode ser maior que 999.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-auto">

          <label class="label-input space-form">Quantidade Vendido</label>
          <input type="text" class="form-control input-form"
            [ngClass]="{'is-invalid': vendaValidator.quantidadeVendido.errors && vendaValidator.quantidadeVendido.touched}"
            formControlName="quantidadeVendido" placeholder="1">

          <div *ngIf=" vendaValidator.quantidadeVendido.errors?.required" class="invalid-feedback">
            Quantidade é obrigatória.
          </div>
          <div *ngIf=" vendaValidator.quantidadeVendido.errors?.pattern" class="invalid-feedback">
            Quantidade não é valida.
          </div>
          <div *ngIf=" vendaValidator.quantidadeVendido.errors?.min" class="invalid-feedback">
            Quantidade não pode ser menor que 1.
          </div>
          <div *ngIf=" vendaValidator.quantidadeVendido.errors?.max" class="invalid-feedback">
            Quantidade não pode ser maior que 999.
          </div>
        </div>

        <div class="total-da-venda">
          <b>Total: R$ {{totalDestaVenda}}</b>
        </div>
      </div>
      <div class="card-footer space-card-top">
        <div class="d-flex justify-content-between">
          <button class="btn btn-outline-secondary border col-md-auto button-close" (click)="resetForm()">
            Fechar
          </button>
          <button class="btn btn-success col-md-auto button-save" [disabled]="!form.valid" (click)="adicionarVenda()">
            Salvar Venda
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<router-outlet></router-outlet>
