/* cabeçario */
.input-date {
  width: 300px;
  margin-left: auto;
  border: none;
  padding: 10px;
  background-color: #f5f5f5;
  margin: auto;
  outline: none;
}

.color-text {
  color: #708090 !important;
}

.hover-table-row {
  background-color: #fff; /* ajuste a cor conforme necessário */
  transition: transform 0.3s, box-shadow 0.3s; /* Efeito de transição suave */
  cursor: pointer;
}

.hover-table-row:hover {
  transform: translateY(-5px); /* Move o item 5px para cima */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

.bottom-apply {
  margin-left: 10px;
}

.bottom-novo {
  width: 90px;
  height: 43.9px;
}
.card-principal {
  margin-bottom: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.178);
}

.sombrear {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.492);
}

.sombrear:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.178);
  transform: translateY(-1px);
}

/* end cabeçario */

.pagination-center {
  display: flex;
  justify-content: center;
}

.space {
  margin-right: 5px;
}

.fotter-summary {
  color: aliceblue;
  background-color: rgba(49, 67, 78, 0.744);
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 30.5);
  border-radius: 20px;
  margin-top: 3px;
  padding: 10px;

}

.total {
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 30.5);
  border-radius: 20px;
}

.total:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.178);
  transform: translateY(-2px);
}

.responsive-input {
  min-width: 100px;
  white-space: nowrap;
}
.responsive-table {
  overflow-x: auto;
}

.responsive-table table {
  min-width: 1000px;
  white-space: nowrap;
}

.btn-group-custom {
  display: flex;
}

.sombra-input {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.194);
  transition: box-shadow 0.3s ease;
  outline: none;
}

.sombra-input:focus {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.237);
  outline: none;
}

.sombra {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.492);
  transition: box-shadow 0.3s ease;
}
.sombra:focus {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.488);
}

.total-da-venda {
  padding: 5px;
  display: flex;
  justify-content: center;
  margin-top: 13px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.178);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.178);
}

.total-da-venda:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.237);
  transform: translateY(-2px);
}

/* calendarios */

::ng-deep .bs-datepicker-body {
  margin: 5px !important;
}

::ng-deep .bs-datepicker-head {
  margin: 5px !important;
}

::ng-deep .theme-green .bs-datepicker-head {
  background-color: rgba(49, 67, 78, 0.744);
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 30.5);
  border-radius: 5px;
}

::ng-deep .theme-green .bs-datepicker-body table td span.selected {
  background-color: rgba(49, 67, 78, 0.744);
}


::ng-deep .bs-datepicker-body table td span.is-other-month,
.bs-datepicker-body table td.is-other-month span {
  color: rgba(0, 187, 34, 0.767);
}

/* end calendarios */

/* css form */

.title-cabecario {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #007bff;
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e9ecef;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
}

.label-input {
  font-weight: 500;
  font-size: 18px;
}

.input-form {
  border-radius: 5px;
  border: 2px solid #ced4da;
  padding: 10px 15px;
  font-size: 16px;
}

.footer-form {
  background-color: #f8f9fa;
  border-top: 2px solid #e9ecef;
}

.button-close {
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-right: 4px;
}

.button-save {
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.hover-botton:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.178);
  transform: translateY(-2px);
}

.space-form {
  margin-top: 10px;
}

.space-card-top {
  margin-top: 12px;
}

.hover:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.178);
  transform: translateY(-1px);
}

/* end css form */

::ng-deep .ngx-pagination a,
.ngx-pagination button {
  color: #54708b !important;
}

.cursor{
  cursor: pointer;
}


/* checkbox */

.custom-checkbox-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.custom-checkbox {
  appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  transition: background-color 0.3s, border-color 0.3s;
  outline: none;
}

.custom-checkbox:checked {
  background-color: #007BFF;
  border-color: #0062CC;
}

.custom-checkbox-x {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #ffffff;
  visibility: hidden;
  font-weight: bold;
}

.custom-checkbox:checked + .custom-checkbox-x {
  visibility: visible;
}


/* end checkbox */

.text-color {
  color: #54708b !important;

}
