.gradient-custom-2 {
  background-image: url('../../../../assets/img/logo-register.png');
  width: 630px;
  height: auto;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.fa-eye,
.fa-eye-slash {
  font-size: 24px;
}

.text-color{
  color: #708090;
  font-weight: bold;
}

.container-form{
  padding: 20% !important;
}

.sombra {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.194);
  transition: box-shadow 0.3s ease;
  outline: none;
}

.sombra:focus {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.237);
  outline: none;
}

.btn-link{
  display: flex;
  justify-content: center;
  font-weight: bold;
}
